/* stylelint-disable */
.button,
button,
input[type="submit"] {
  // commonly changed properties
  font-family: $font;
  padding: 1em 1.4em;
  border-radius: 0.3em;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  // end commonly changed properties

  color: white;
  background: black;
  border-color: black;
  text-align: center;
  appearance: none;
  width: auto;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;
  outline: none;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  text-shadow: none;
  transition: all 300ms ease;

  &:hover,
  &:focus {
    background: $gray-dark;
    border-color: $gray-dark;
    color: white;
  }

  &.wide {
    padding-left: 3em;
    padding-right: 3em;
  }
} // .button

.button.inverted,
button.inverted,
input[type="submit"].inverted {
  background: transparent;
  border-color: white;
  color: white;
  font-weight: 500;
  font-family: $font;
  letter-spacing: 1px;

  &:hover,
  &:focus {
    background: white;
    border-color: white;
    color: $gray-dark;
  }
} // .button.alt, .button.primary

input[type="submit"].search-submit,
.button.primary,
button.primary,
input[type="submit"].primary {
  background: $primary;
  border-color: $primary;
  color: white;

  span {
    color: white;
  }
  &:hover,
  &:focus {
    background: white;
    border-color: $primary;
    color: $primary;
    span {
      color: $primary;
    }
  }
} // .button.alt, .button.primary

.button.primary.inverted,
button.primary.inverted,
input[type="submit"].primary.inverted {
  background: transparent;
  border-color: $primary;
  color: $primary;
  span {
    color: $primary;
  }
  &:hover,
  &:focus {
    background: $primary;
    border-color: $primary;
    color: white;
    span {
      color: white;
    }
  }
} // .button.alt, .button.primary

.button.alt,
.button.secondary,
button.alt,
button.secondary,
input[type="submit"].alt,
input[type="submit"].secondary {
  background: $secondary;
  border-color: $secondary;
  color: white;

  &:hover,
  &:focus {
    background: $secondary-dark;
    border-color: $secondary-dark;
    color: white;
  }
} // .button.alt, .button.secondary

.button.secondary.inverted,
button.secondary.inverted,
input[type="submit"].secondary.inverted,
.button.alt.inverted,
button.alt.inverted,
input[type="submit"].alt.inverted {
  background: transparent;
  border-color: $secondary;
  color: $secondary;

  &:hover,
  &:focus {
    background: $secondary;
    border-color: $secondary;
    color: white;
  }
} // .button.alt, .button.primary

.button.tertiary,
button.tertiary,
input[type="submit"].tertiary {
  background: $tertiary;
  border-color: $tertiary;
  color: white;
  span {
    color: white;
  }
  &:hover,
  &:focus {
    background: $tertiary-dark;
    border-color: $tertiary-dark;
    color: white;
    span {
      color: white;
    }
  }
} // .button.alt, .button.tertiary

.button.tertiary.inverted,
button.tertiary.inverted,
input[type="submit"].tertiary.inverted {
  background: transparent;
  border-color: $tertiary;
  color: $tertiary;

  &:hover,
  &:focus {
    background: $tertiary;
    border-color: $tertiary;
    color: white;
  }
} // .button.alt, .button.primary

/* stylelint-enable */
