/* stylelint-disable */
/** Search form */
.search-form {
  // @extend .form-inline;
}

.search-form label {
  // @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  // @extend .form-control;
}

.search-form .search-submit {
  @extend .button;
  // @extend .btn-secondary;
}

.popup-active {
  height: 100%;
  overflow: hidden;
}

.popup-wrap-active {
  z-index: 10000;
  opacity: 1;
}

.popup-modal-active {
  transform: none;
  opacity: 1;
}

.popup-wrap {
  @include fixed(0);
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms ease;
  overflow: scroll;

  .close-bg {
    @include absolute(0);
  }

  .popup-modal {
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 35em;
    margin: 5% auto;
    border-top: 0.125em solid $secondary;
    transform: scale(0.5) translate3d(0, -2em, 0);
    opacity: 0;
    transition: all 300ms ease;
  } // .popup-modal

  .popup-cancel {
    text-align: center;
    padding: 0.5em;
    font-size: 0.8em;
    cursor: pointer;
    transition: all 300ms ease;

    p {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 0.1em;

      &:before,
      &:after {
        content: " - ";
      }
    }

    &:hover,
    &:focus {
      background: $secondary-light;
    }
  } // .popup-cancel

  @media (min-width: $screen-sm) {
    display: flex;
    align-items: center;
    padding: 0 0 5%;

    .popup-modal {
      margin: auto;
    }
  }
} //.popup-wrap

.popup-wrap-feedback {
  .popup-modal {
    position: relative;
  }

  input,
  textarea {
    background: $gray-lighter;

    &:focus {
      background: white;
    }
  }

  label {
    display: none;
  }

  .popup-cancel {
    @include absolute(-0.5em, -0.5em, auto, auto);
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    text-align: center;
  }
} // .popup-wrap-feedback

.popup-wrap-search {
  display: flex;
  align-items: center;
  padding: 0 0 5%;

  .popup-modal {
    margin: auto;
    border: none;
    text-align: center;
  }

  .popup-cancel {
    p {
      color: white;
      transition: all 300ms ease;
    }

    &:hover,
    &:focus {
      background: transparent;
      p {
        color: $secondary-light;
      }
    }
  }

  h2 {
    font-size: 1em;
    color: white;
    line-height: 1em;
    span {
      color: white;
    }
  }

  .input-wrap,
  input,
  button,
  .button {
    transition: all 300ms ease;
  }

  form {
    display: flex;
    align-items: center;
    border: 1px solid white;
    overflow: hidden;
    position: relative;
  }

  label {
    display: block;
    flex: 1 1 10em;
    margin: 0;
    position: relative;
    padding-right: 2.5em;
    overflow: hidden;

    span {
      display: none;
    }

    &:after {
      content: "\f002";
      font-family: "FontAwesome";
      color: white;
      position: absolute;
      font-size: 1.5em;
      right: 0.5em;
      top: 50%;
      cursor: pointer;
      padding-left: 0.5em;
      transform: translate(0, -50%);
    }

    input,
    input[type="search"] {
      @include field-placeholder-color(rgba(white, 0.5));
      color: white;
      margin: 0;
      border: none;
      outline: none;
      box-shadow: none;
      background: transparent;
    }

    input:-webkit-autofill {
      background-color: transparent !important;
    }
  }

  input[type="submit"].search-submit {
    @include absolute(0, 0, 0, auto);
    width: 4em;
    overflow: hidden;
    color: transparent;
    background: transparent;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1;
    box-shadow: none;
  }
} // .popup-wrap-search

.popup-active-feedback {
  @extend .popup-active;

  .popup-wrap-feedback {
    @extend .popup-wrap-active;

    .popup-modal {
      @extend .popup-modal-active;
    }
  }
} // popup-active-feedback

.popup-active-search {
  @extend .popup-active;

  .popup-wrap-search {
    @extend .popup-wrap-active;

    .popup-modal {
      @extend .popup-modal-active;
    }
  }
} // .popup-active-search

/* stylelint-enable */
