.wp-list-table .column-image {
  width: 75px;
}
.wp-list-table .column-image img {
  max-width: 75px;
}
.wp-list-table .column-order {
  width: 30%;
}
.wp-list-table .column-order input {
  width: 4em;
}
.wp-list-table .column-order input.success {
  border-color: #46af34;
}
.wp-list-table .column-order input.error {
  border-color: #c62f2a;
}
@media screen and (max-width: 782px) {
  .wp-list-table .column-image {
    display: none;
  }
}
#postexcerpt.postbox .inside p {
  display: none;
}
.wp-admin .ui-datepicker {
  background: white;
}
.wp-admin .ui-datepicker td a {
  display: block;
  text-align: right;
}
.wp-admin .ui-datepicker-next,
.wp-admin .ui-datepicker-prev {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #eee;
}
.wp-admin .ui-datepicker-next span,
.wp-admin .ui-datepicker-prev span {
  background: none;
}
.wp-admin .ui-datepicker-header {
  padding: 0.5em;
  display: flex;
}
.wp-admin .ui-datepicker-header .ui-datepicker-title {
  flex: 1 1 5em;
  text-align: center;
  margin: 0 0.5em;
}
.wp-admin .ui-datepicker-header .ui-datepicker-prev,
.wp-admin .ui-datepicker-header .ui-datepicker-next {
  flex: 0 0 3em;
}
.wp-admin .ui-datepicker-header .ui-datepicker-next {
  order: 3;
  text-align: right;
}

#wp-admin-bar-support-jac {
  border-right: 1px solid white;
}

.toplevel_page_company-info .form-table tr.col-one.company_info {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}
.toplevel_page_company-info .form-table tr th,
.toplevel_page_company-info .form-table tr.col-one th {
  display: block !important;
  font-size: 0.8em;
}
