html.splash-page {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

html.splash-page body {
  color: white;
  padding: 0;
  margin: 0;
  height: 100%;
}

html.splash-page .logo-wrap {
  text-align: center;
  margin: auto;
}

html.splash-page .jac-brand {
  display: block;
  margin: auto;
  font-size: 4em;
  max-width: 80%;
  max-height: 80%;
  width: 80%;
}

html.splash-page .jac-brand svg {
  display: block;
  width: 3.5306em;
  height: 2.3917em;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

html.splash-page .jac-brand path,
html.splash-page .jac-brand polygon {
  fill: #fff;
}

html.splash-page .jac-brand path.we-create-arrow {
  fill: #ab2c29;
}

html.splash-page .button {
  font-size: 0.8em;
  padding: 0.8em 2.5em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  border-radius: 0.125em;
  text-decoration: none;
  border: 1px solid white;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  margin: 0.5em 0 0;
  font-family: "open-sans", sans-serif;
}

html.splash-page .button:hover, html.splash-page .button:focus {
  background: #ab2c29;
  color: white;
  border-color: #ab2c29;
}

html.splash-page .banner_splash {
  width: 100%;
}

html.splash-page .banner_splash #js-splash-header {
  width: 100%;
  position: relative;
}

html.splash-page .banner_splash #js-splash-header .slick-list {
  padding: 0 !important;
}

html.splash-page .banner_splash #js-splash-header .slick-list .slick-track {
  max-width: 100%;
}

html.splash-page .banner_splash #js-splash-header .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

html.splash-page .banner_splash #js-splash-header .col img.col-img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@media (min-width: 62em) {
  html.splash-page .banner_splash #js-splash-header .col img.col-img {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-animation: shrink 12s infinite alternate;
            animation: shrink 12s infinite alternate;
  }
  @-webkit-keyframes shrink {
    0% {
      -webkit-transform: translate(-50%, -50%) scale(1.3);
              transform: translate(-50%, -50%) scale(1.3);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }
  }
  @keyframes shrink {
    0% {
      -webkit-transform: translate(-50%, -50%) scale(1.3);
              transform: translate(-50%, -50%) scale(1.3);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1);
    }
  }
}

@media (min-width: 62em) {
  html.splash-page .banner_splash #js-splash-header .col {
    height: 100vh;
    min-height: 55em;
  }
}

html.splash-page .banner_splash #js-splash-header .col .overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

html.splash-page .banner_splash #js-splash-header .col .slide-box {
  max-width: 40em;
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  height: 90%;
  overflow: scroll;
  padding-bottom: 7em;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html.splash-page .banner_splash #js-splash-header .col .slide-box img.logo {
  height: 2em;
  margin: 2em auto;
}

@media (min-width: 48em) {
  html.splash-page .banner_splash #js-splash-header .col .slide-box img.logo {
    height: 4em;
    margin: 3em auto;
  }
}

html.splash-page .banner_splash #js-splash-header .col .slide-box h1,
html.splash-page .banner_splash #js-splash-header .col .slide-box h2,
html.splash-page .banner_splash #js-splash-header .col .slide-box h3,
html.splash-page .banner_splash #js-splash-header .col .slide-box h4,
html.splash-page .banner_splash #js-splash-header .col .slide-box h5,
html.splash-page .banner_splash #js-splash-header .col .slide-box h6,
html.splash-page .banner_splash #js-splash-header .col .slide-box p,
html.splash-page .banner_splash #js-splash-header .col .slide-box span,
html.splash-page .banner_splash #js-splash-header .col .slide-box li,
html.splash-page .banner_splash #js-splash-header .col .slide-box ul,
html.splash-page .banner_splash #js-splash-header .col .slide-box td,
html.splash-page .banner_splash #js-splash-header .col .slide-box tr,
html.splash-page .banner_splash #js-splash-header .col .slide-box th {
  font-family: "poppins", sans-serif;
}

html.splash-page .banner_splash #js-splash-header .col .slide-box h1 {
  font-size: 2em;
  line-height: 1em;
  margin: 0 auto 10px auto;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}

@media (min-width: 48em) {
  html.splash-page .banner_splash #js-splash-header .col .slide-box h1 {
    font-size: 3em;
  }
}

html.splash-page .banner_splash #js-splash-header .col .slide-box h1 span {
  color: #d6312e;
}

html.splash-page .banner_splash #js-splash-header .col .slide-box p {
  font-size: 0.85em;
  font-family: "poppins", sans-serif;
  font-weight: 300;
}

@media (min-width: 48em) {
  html.splash-page .banner_splash #js-splash-header .col .slide-box p {
    font-size: 1em;
  }
}

@media (min-width: 48em) {
  html.splash-page .banner_splash #js-splash-header .col .slide-box {
    padding-bottom: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

html.splash-page .banner_splash #js-splash-header .col .slide-box::-webkit-scrollbar {
  display: none;
}

html.splash-page .banner_splash #js-splash-header .slick-dots {
  position: fixed;
  top: 50%;
  right: 3%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

html.splash-page .banner_splash #js-splash-header .slick-dots li {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  display: block;
  cursor: pointer;
  margin: 16px 0;
  border-radius: 100%;
  position: relative;
}

html.splash-page .banner_splash #js-splash-header .slick-dots li.slick-active:before {
  content: "";
  background: #fff;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  margin: 0;
  padding: 0;
  top: 50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html.splash-page .banner_splash #js-splash-header .slick-dots li button {
  display: none;
}

html.splash-page .banner_splash #js-splash-header .slick-arrow {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 3px solid white;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 1.4s all ease-in-out;
  transition: 1.4s all ease-in-out;
}

html.splash-page .banner_splash #js-splash-header .slick-arrow i {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
}

html.splash-page .banner_splash #js-splash-header .slick-arrow.slick-prev {
  top: 1%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

html.splash-page .banner_splash #js-splash-header .slick-arrow.slick-next {
  bottom: 1%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

html.splash-page .banner_splash #js-splash-header .slick-arrow.slick-disabled {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

html.splash-page .banner_splash #js-splash-header .slick-arrow:hover {
  background-color: white;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

html.splash-page .banner_splash #js-splash-header .slick-arrow:hover i {
  color: #ab2c29;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

@media (min-width: 62em) {
  html.splash-page .banner_splash #js-splash-header .slick-arrow {
    height: 70px;
    width: 70px;
  }
}

html.splash-page .banner_splash #js-splash-header .gform_wrapper {
  width: 100%;
}

@media (min-width: 641px) {
  html.splash-page .banner_splash #js-splash-header .gform_wrapper {
    margin-left: 16px;
  }
}

html.splash-page .banner_splash #js-splash-header .gform_wrapper li {
  margin: 0;
}

html.splash-page .banner_splash #js-splash-header .gform_wrapper li select,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li input,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li textarea {
  margin: 0;
  padding: 14px 14px;
  font-family: "open-sans", sans-serif;
  font-size: 0.9em;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

html.splash-page .banner_splash #js-splash-header .gform_wrapper li select::-webkit-input-placeholder,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li textarea::-webkit-input-placeholder,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.685);
  opacity: 1;
  /* Firefox */
}

html.splash-page .banner_splash #js-splash-header .gform_wrapper li select:-ms-input-placeholder,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li textarea:-ms-input-placeholder,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.685);
  opacity: 1;
  /* Firefox */
}

html.splash-page .banner_splash #js-splash-header .gform_wrapper li select::-ms-input-placeholder,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li textarea::-ms-input-placeholder,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.685);
  opacity: 1;
  /* Firefox */
}

html.splash-page .banner_splash #js-splash-header .gform_wrapper li select::placeholder,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li textarea::placeholder,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.685);
  opacity: 1;
  /* Firefox */
}

html.splash-page .banner_splash #js-splash-header .gform_wrapper li select:-ms-input-placeholder,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li textarea:-ms-input-placeholder,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.685);
}

html.splash-page .banner_splash #js-splash-header .gform_wrapper li select::-ms-input-placeholder,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li textarea::-ms-input-placeholder,
html.splash-page .banner_splash #js-splash-header .gform_wrapper li input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.685);
}

@media (min-width: 800px) {
  html.splash-page .banner_splash #js-splash-header {
    overflow: hidden;
  }
}
/*# sourceMappingURL=splash.css.map */