$font: "open-sans", sans-serif;
$font2: "poppins", sans-serif;

html.splash-page {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  body {
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .logo-wrap {
    text-align: center;
    margin: auto;
  }

  .jac-brand {
    display: block;
    margin: auto;
    font-size: 4em;
    max-width: 80%;
    max-height: 80%;
    width: 80%;
    svg {
      display: block;
      width: 3.5306em;
      height: 2.3917em;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .jac-brand path,
  .jac-brand polygon {
    fill: #fff;
  }
  .jac-brand path.we-create-arrow {
    fill: #ab2c29;
  }

  .button {
    font-size: 0.8em;
    padding: 0.8em 2.5em;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    border-radius: 0.125em;
    text-decoration: none;
    border: 1px solid white;
    transition: all 300ms ease;
    margin: 0.5em 0 0;
    font-family: $font;

    &:hover,
    &:focus {
      background: #ab2c29;
      color: white;
      border-color: #ab2c29;
    }
  }

  .banner_splash {
    width: 100%;
    #js-splash-header {
      width: 100%;
      position: relative;
      .slick-list {
        padding: 0 !important;
        .slick-track {
          max-width: 100%;
        }
      }
      .col {
        // overflow: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        max-width: 100%;
        position: relative;
        background-size: cover;
        background-position: center center;
        overflow: hidden;
        img.col-img {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 100%;
          width: 100%;
          object-fit: cover;
          transform: translate(-50%, -50%) scale(1);
          @media (min-width: 62em) {
            transform: translate(-50%, -50%) scale(1);
            animation: shrink 12s infinite alternate;
            @keyframes shrink {
              0% {
                transform: translate(-50%, -50%) scale(1.3);
              }
              100% {
                transform: translate(-50%, -50%) scale(1);
              }
            }
          }
        }
        @media (min-width: 62em) {
          height: 100vh;
          min-height: 55em;
        }
        .overlay-box {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
        .slide-box {
          max-width: 40em;
          width: 90%;
          margin: 0 auto;
          position: relative;
          z-index: 3;
          height: 90%;
          overflow: scroll;
          padding-bottom: 7em;
          /* Hide scrollbar for IE, Edge and Firefox */
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
          img.logo {
            height: 2em;
            margin: 2em auto;
            @media (min-width: 48em) {
              height: 4em;
              margin: 3em auto;
            }
          }
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p,
          span,
          li,
          ul,
          td,
          tr,
          th {
            font-family: $font2;
          }
          h1 {
            font-size: 2em;
            line-height: 1em;
            margin: 0 auto 10px auto;
            font-family: $font2;
            font-weight: 500;

            @media (min-width: 48em) {
              font-size: 3em;
            }
            span {
              color: #d6312e;
            }
          }
          p {
            font-size: 0.85em;
            font-family: $font2;
            font-weight: 300;
            @media (min-width: 48em) {
              font-size: 1em;
            }
          }
          @media (min-width: 48em) {
            padding-bottom: 3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
      .slick-dots {
        position: fixed;
        top: 50%;
        right: 3%;
        transform: translate(0, -50%);
        li {
          width: 18px;
          height: 18px;
          border: 2px solid #fff;
          display: block;
          cursor: pointer;
          margin: 16px 0;
          border-radius: 100%;
          position: relative;
          &.slick-active:before {
            content: "";
            background: #fff;
            width: 50%;
            height: 50%;
            position: absolute;
            left: 50%;
            margin: 0;
            padding: 0;
            top: 50%;
            border-radius: 100%;
            transform: translate(-50%, -50%);
          }
          button {
            display: none;
          }
        }
      }
      .slick-arrow {
        position: absolute;
        cursor: pointer;
        z-index: 3;
        height: 50px;
        width: 50px;
        background-color: transparent;
        border: 3px solid white;
        display: flex !important;
        justify-content: center;
        align-items: center;
        transition: 0.3s all ease-in-out;
        opacity: 1;
        visibility: visible;
        transition: 1.4s all ease-in-out;
        i {
          transition: 0.3s all ease-in-out;
          color: white;
          font-size: 1.2em;
          font-weight: 500;
        }
        &.slick-prev {
          top: 1%;
          left: 50%;
          transform: translate(-50%, 0);
        }
        &.slick-next {
          bottom: 1%;
          left: 50%;
          transform: translate(-50%, 0);
        }
        &.slick-disabled {
          opacity: 0;
          visibility: hidden;
          transition: 0.4s all ease-in-out;
        }
        &:hover {
          background-color: white;
          transition: 0.3s all ease-in-out;
          i {
            color: #ab2c29;
            transition: 0.3s all ease-in-out;
          }
        }
        @media (min-width: 62em) {
          height: 70px;
          width: 70px;
        }
      }
      .gform_wrapper {
        width: 100%;
        @media (min-width: 641px) {
          margin-left: 16px;
        }
        li {
          margin: 0;
          select,
          input,
          textarea {
            margin: 0;
            padding: 14px 14px;
            font-family: $font;
            font-size: 0.9em;
            background-color: transparent;
            border: 2px solid white;
            color: white;
          }
          select::placeholder,
          textarea::placeholder,
          input::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(255, 255, 255, 0.685);
            opacity: 1; /* Firefox */
          }
          select:-ms-input-placeholder,
          textarea:-ms-input-placeholder,
          input:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: rgba(255, 255, 255, 0.685);
          }
          select::-ms-input-placeholder,
          textarea::-ms-input-placeholder,
          input::-ms-input-placeholder {
            /* Microsoft Edge */
            color: rgba(255, 255, 255, 0.685);
          }
        }
      }
      @media (min-width: 800px) {
        overflow: hidden;
      }
    }
  }
}
