/* stylelint-disable */
footer.footer {
  width: 100%;
  float: left;
  height: auto;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(black, 0.7);
  }
  .footer-top {
    position: relative;
    text-align: center;
    h2 {
      font-size: 36px;
      line-height: 36px;
      color: $white;
      position: relative;
      span {
        position: relative;
        z-index: 9;
      }
    }
    form {
      .form-group {
        width: 50%;
        margin: 50px auto 0;
        position: relative;
        input {
          border: 2px solid $white;
          background: none;
          padding: 10px 20px;
          border-radius: 100px;
          outline: none;
          color: $white;
          width: 100%;
          height: auto;
          font-size: 17px;
          line-height: 16px;
        }
        ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: $white;
          text-transform: uppercase;
          font-size: 17px;
        }
        ::-moz-placeholder {
          /* Firefox 19+ */
          color: $white;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 17px;
        }
        :-ms-input-placeholder {
          /* IE 10+ */
          color: $white;
          text-transform: uppercase;
          font-size: 17px;
        }
        :-moz-placeholder {
          /* Firefox 18- */
          color: $white;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 17px;
        }
        .submit-btn {
          position: absolute;
          top: 5px;
          right: 0;
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            background: $white;
            width: 2px;
            height: 70%;
            transform: translateY(-50%);
          }
          input {
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            font-size: 17px;
          }
        }
      }
    }
    .sicon {
      text-align: center;
      @media (min-width: $screen-sm) {
        text-align: left;
        margin-top: 2em;
      }
      @media (min-width: $screen-md) {
        text-align: right;
        margin-top: 0;
      }
      ul {
        padding-left: 0;
        text-align: center;
        li {
          display: inline-block;
          margin: 0 10px;
          &:first-child {
            margin-left: 0;
          }
        }
        @media (min-width: $screen-sm) {
          margin: 20px 0 0 0;
          text-align: left;
        }
        @media (min-width: $screen-md) {
          text-align: right;
        }
      }
    }
  }
  .copyright {
    position: relative;
    padding: 0.7em 0;
    .copyright-info {
      //   border-top: 2px solid $white;
      .column {
        padding: 0px;
      }
      p {
        font-size: 16px;
        color: $white;
        margin: 0;
      }
      .footer-nvabar {
        ul {
          text-align: center;
          margin: 0;
          li {
            display: inline-block;
            margin: 0 20px;
            a {
              color: $white;
              font-size: 16px;
              line-height: 16px;
              position: relative;
              &:after {
                position: absolute;
                content: "";
                bottom: -4px;
                left: 50%;
                transform: translate(-50%, 0);
                height: 2px;
                width: 0;
                transition: 0.3s all ease-in-out;
              }
              &:hover {
                transition: 0.3s all ease-in-out;
                &:after {
                  width: 100%;
                  transition: 0.3s all ease-in-out;
                }
              }
            }
            &.current-menu-item {
              a:after {
                width: 100%;
              }
            }
          }
        }
      }
      .footer-right {
        float: right;
        p {
          text-transform: uppercase;
          position: relative;
          font-weight: normal;
          letter-spacing: 1px;
          display: initial;
          span {
            position: relative;
            top: 3px;
            font-size: 24px;
            margin: 0 0 0 20px;
            a {
              color: $white;
            }
          }
          a {
            position: relative;
            padding: 0 0 0 20px;
            &:before {
              content: "";
              position: absolute;
              top: -8px;
              left: 4px;
              width: 9px;
              height: 60px;
              background: url("../images/footer-curve.png");
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}

.footer-top {
  position: relative;
  width: 100%;
  padding: 3em 0;
  span {
    font-size: 24px;
    color: white;
    margin-bottom: 0;
    display: block;
    text-align: left;
    font-weight: 400;
    display: block;
  }
  .gform_wrapper {
    .gform_heading {
      margin-bottom: 0;
    }
    form {
      display: flex;
      flex-wrap: wrap;
      .gform_body {
        width: 100%;
        li.gfield {
          padding-right: 0;
          input {
            height: auto;
            padding: 0.5em 1em !important;
            background: white;
            height: auto;
            padding: 0.5em 1em;
            background: white;
            margin: 0;
            border-color: white;
          }
        }
        .ginput_container {
          margin: 0;
        }
        @media (min-width: $screen-sm) {
          width: 14em;
        }
      }
      .gform_footer {
        width: 100%;
        margin: 0;
        input {
          padding: 1em 1.4em !important;
          height: 100%;
          margin: 0 !important;
          color: white;
          border-radius: 0;
          font-size: 0.8em !important;
          line-height: 1em !important;
        }
        @media (min-width: $screen-sm) {
          width: fit-content;
        }
      }
      .gform_description {
        font-size: 24px;
        color: white;
        margin-bottom: 0;
      }
    }
  }
  .nav-mid {
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    ul {
      display: flex;
      justify-content: flex-start;
      li {
        margin-right: 2em;
        &:not(.menu-item-has-children) {
          display: none;
        }
        a {
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 600;
        }
        .sub-menu {
          display: block;
          padding-left: 0;
          margin-left: 0;
          background: none;
          li {
            display: block;
            a {
              text-transform: none;
              font-size: 13px;
              font-weight: 400;
            }
          }
        }
      }
    }
    @media (min-width: $screen-sm) {
      width: 50%;
      border-left-width: 2px;
      border-left-style: solid;
      border-bottom: 0;
      padding: 0.4em 0;
    }
    @media (min-width: $screen-md) {
      width: calc(100% - 50em);
    }
  }
  .social-container {
    width: 15em;
    p {
      font-weight: 600;
      font-size: 14px;
    }
    li {
      a {
        font-size: 1.3em;
      }
    }
    .fa-twitter-squre:before {
      content: "\f099" !important;
      font-family: "FontAwesome";
    }
    @media (min-width: $screen-sm) {
      width: 100%;
    }
    @media (min-width: $screen-lg) {
      width: 15em;
    }
  }
  .gform_wrapper {
    margin: 0;
  }
}
/* stylelint-enable */
