/* stylelint-disable */
.wrapper {
  transition: all 300ms ease; // needed for off-canvas nav
  // top padding should be equivalent
  // to the height of the fixed menu
  // this will likely change per breakpoint
  // so be sure to adjust whenever needed
  // padding-top: 5.5em;
  // @media (min-width: $screen-sm) {
  //   padding-top: 7.5em;
  // }

  // @media (min-width: $screen-md) {
  //   padding-top: 9.5em;
  // }
} // wrapper

.menu-off-canvas {
  // $offCanvasWidth defined in _variables.scss
  // feel free to adjust if needed
  .container {
    width: 100%;
  }
  svg {
    height: 7em;
    margin: 0 auto;
  }
  @include fixed(0, 0, 0, auto);
  z-index: -1;
  width: $offCanvasWidth;
  height: 100%;
  overflow: scroll;
  transition: all 300ms ease;
  box-shadow: inset 0.25em 0 1em rgba(black, 0.5);
  transform: translate3d($offCanvasWidth, 0, 0);
  * {
    padding: 0;
    margin: 0;
  }
  .container {
    padding: 3em 2em;
    a:not(.has-sub) {
      text-decoration: none;
      display: block;
      padding: 10px 0 0 0;
      text-transform: uppercase;
      font-size: 0.8em;
    }
    .menu-item {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px dotted lightgray;
      &:hover {
        // i,
        // a {
        //   color: black;
        // }
        padding-left: 8px;
        -webkit-transition: all 1.5s ease-in-out;
        transition: all 0.7s ease-in-out;
      }
    }
    .menu-primary {
      margin-top: 3em;
      ul {
        display: none;
        transition: all 1.5s ease-in-out;
        width: 100%;
      }

      .tap {
        display: block;
        transition: all 1.5s ease-in-out;
      }

      li {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px dotted lightgray;
        &:hover {
          // background: $primary;
          i,
          a {
            color: black;
          }
          -webkit-transition: all 1.5s ease-in-out;
          transition: all 0.7s ease-in-out;
        }
      }
      .has-sub {
        .other {
          transition: all 1.5s ease-in-out;
          // background: $primary;
          .dropdown-link {
            border-bottom: 1px dotted lightgray;
            padding-left: 12px;
            a {
              text-decoration: none;
              padding: 5px 0 5px 0px;
              text-transform: uppercase;
              font-size: 0.6em;
              color: white;
            }
            i {
              color: white;
              padding-right: 5px;
            }
            &:hover {
              i {
                color: black;
              }
              a {
                color: black;
                -webkit-transition: all 1.5s linear;
                transition: all 0.7s linear;
              }
            }
          }
        }
        &:hover {
          .title {
            transition: all 0.7s ease-in-out;
            padding-left: 8px;
          }
          .drop-arrow i {
            transition: all 1s ease-in-out;
            color: black;
          }
        }
      }

      .drop-arrow {
        transition: all 0.5s ease-in-out;
        float: right;
        margin-right: 9px;
        padding-top: 5px;
        transform: rotate(90deg);
        i {
          font-size: 1.3em;
        }
      }

      .turn-arrow {
        transition: all 0.5s ease-in-out;
        transform: rotate(180deg);
      }
    }
    .social {
      border-bottom: 1px dotted lightgray;
      display: flex;
      flex-wrap: wrap;
      li {
        list-style: none;
        margin-right: 20px;
        a {
          padding: 10px 0 10px 0px;
        }
        &:hover {
          i,
          a {
            color: black;
          }
          -webkit-transition: all 1.5s ease-in-out;
          transition: all 0.7s ease-in-out;
        }
      }
    }
  }
} // .menu-off-canvas

.menu-off-canvas.left {
  // add class to menu-off-canvas to change the side it appears from
  left: 0;
  right: auto;
  transform: translate3d(-$offCanvasWidth, 0, 0);
} // .menu-off-canvas.left

.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 300ms ease;
  // box-shadow: 0 0 0.25em rgba(black, 0.1);

  .menu-other {
    width: 30em;
  }
  #ajaxsearchlite1 {
    margin: 0 10px !important;
  }
  .announcement-bar {
    text-align: center;
    marquee,
    p {
      margin: 0;
      color: white;
    }
  }
  .topbar,
  .bottombar {
    .flex-container {
      .menu-primary,
      .menu-secondary,
      .social,
      .menu-other {
        display: flex;
        align-items: center;

        a,
        p,
        li,
        span {
          // font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      } // menus

      .menu-primary,
      .menu-secondary,
      .menu-other {
        justify-content: flex-end;
        .menu-search {
          margin-left: 1em;
          @include flex-width(35px);
          border-left: 1px solid white;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            color: white;
            font-size: 1.3em;
            font-weight: 400;
          }
        }
      } //menu-primary & menu-seconcondary

      .menu-secondary {
        li {
          margin-left: 1.5em;
        }
        a {
          font-family: $font;
          font-weight: 400 !important;
          font-style: normal;
          font-size: 13px;
          color: white;
          // &:hover,
          // &:focus {
          //   color: $primary;
          // }
        } //a
        li.active a {
          color: $secondary !important;
        }
      } //menu-contact & menu-secondary

      .menu-center {
        position: relative;
        opacity: 1;
        transition: 0.9s all ease-in-out;
        .menu-primary-container {
          height: 100%;
        }
        #menu-primary {
          display: flex;
          justify-content: center;
          height: 100%;
          width: 100%;
          .menu-item {
            padding: 0 2em;
            position: relative;
            a {
              text-transform: uppercase;
              transition: 0.3s all ease-in-out;
              letter-spacing: 0;
              font-weight: 600;
              font-size: 14px;
              color: white;
              position: relative;
              &:before {
                position: absolute;
                content: "";
                bottom: 40px;
                left: 50%;
                transform: translate(-50%, 0);
                height: 2px;
                width: 0;
                transition: 0.3s all ease-in-out;
              }
              &:hover {
                transition: 0.3s all ease-in-out;
                &:before {
                  width: 100%;
                  transition: 0.3s all ease-in-out;
                }
              }
            }

            &.current-menu-item {
              a:before {
                width: 100%;
                transition: 0.3s all ease-in-out;
              }
            }

            &:before {
              height: 2em;
              width: 2em;
              border-left: 1px dotted white;
              position: absolute;
              content: "";
              top: 50%;
              left: 0;
              transform: translate(0, -50%);
            }
            &.active {
              a {
                transition: 0.3s all ease-in-out;
                // color: $primary;
              }
            }
            &:first-child {
              &:before {
                border-left: unset;
              }
            }
          }
          .menu-item-has-children {
            height: 100%;
            // line-height: 100%;
            // padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            &:last-child {
              border: none;
            }
            a {
              display: inline-block;
              vertical-align: middle;
              font-family: $font;
              // line-height: 3em;
            }
            .sub-menu {
              position: absolute;
              margin: 0;
              bottom: 0;
              left: 50%;
              right: 0;
              min-height: 10em;
              align-items: center;
              transform: translate(-50%, -100%);
              transition: 0.7s all ease-in-out;
              z-index: -1;
              display: flex !important;
              flex-wrap: wrap;
              justify-content: center;
              padding: 1em 0 1em 0;
              @include flex-width(14em);
              li {
                flex: 1 1 50%;
                display: flex;
                justify-content: left;
                align-items: center;
                margin: 0.3em 0;
                line-height: 2em;
                height: 2em;
                &:first-child {
                  border-left-width: 0px;
                }
                &:last-child {
                  border-right-width: 0px;
                }
                a {
                  text-align: left;
                  margin: 0;
                  padding: 0;
                  font-weight: 300;
                  text-transform: uppercase;
                  font-family: $font;
                  color: white !important;
                  line-height: 1.3em;
                  position: relative;
                  &:before {
                    content: unset;
                    display: none;
                  }
                  &:after {
                    position: absolute;
                    content: "";
                    bottom: -4px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    height: 2px;
                    width: 0;
                    transition: 0.3s all ease-in-out;
                  }
                  &:hover {
                    transition: 0.3s all ease-in-out;
                    &:after {
                      width: 100%;
                      transition: 0.3s all ease-in-out;
                    }
                  }
                }
                &:before {
                  content: none;
                  display: none;
                } //a
                // &:nth-child(odd) {
                //   padding-left: 10%;
                // }
              } //sub-menu
              @media (max-width: 1300px) {
                // padding: 7em 3vw;

                a {
                  font-size: 0.9em;
                }
              }
            } //dropdown content
            &:hover {
              a {
                color: white;
              }
              .sub-menu {
                transform: translate(-50%, 99%);
                transition: 0.7s all ease-in-out;
                li {
                  opacity: 1;
                  animation: fadeIn 1s ease-in both;
                  &:nth-child(1) {
                    animation-delay: 0.3s;
                  }
                  &:nth-child(2) {
                    animation-delay: 0.5s;
                  }
                  &:nth-child(3) {
                    animation-delay: 0.7s;
                  }
                  &:nth-child(4) {
                    animation-delay: 0.9s;
                  }
                  &:nth-child(5) {
                    animation-delay: 1.1s;
                  }
                  &:nth-child(6) {
                    animation-delay: 1.3s;
                  }
                  &:nth-child(7) {
                    animation-delay: 1.5s;
                  }
                  &:nth-child(8) {
                    animation-delay: 1.7s;
                  }
                  &:nth-child(9) {
                    animation-delay: 1.9s;
                  }
                  &:nth-child(8) {
                    animation-delay: 2.1s;
                  }
                  @keyframes fadeIn {
                    from {
                      opacity: 0;
                      transform: translate3d(0, -20%, 0);
                    }
                    to {
                      opacity: 1;
                      transform: translate3d(0, 0, 0);
                    }
                  }
                }
              } //
            }
          }
        }
        @media (min-width: $screen-sm) {
          width: 70%;
        }
        @media (min-width: 1250px) {
          width: 51em;
        }
        @media (max-width: $screen-md) {
          display: none;
        }
      }
    } // container
  } // topbar & bottombar

  .topbar {
    padding: 0.7em 0;
    position: relative;
    max-height: auto;
    transition: 0.5s all ease-in-out;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    .container {
      z-index: 2;
      justify-content: flex-end;
    }
    li {
      margin-left: 1.5em;
      margin-bottom: 0;
      list-style: none;
      padding: 0;
    }
    a {
      font-family: $font;
      font-weight: 400 !important;
      font-style: normal;
      font-size: 13px;
      color: white;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        bottom: -4px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 2px;
        width: 0;
        transition: 0.3s all ease-in-out;
      }
      &:hover {
        transition: 0.3s all ease-in-out;
        &:after {
          width: 100%;
          transition: 0.3s all ease-in-out;
        }
      }
    } //a
    li.current-menu-item a {
      &:after {
        width: 100%;
        transition: 0.3s all ease-in-out;
      }
    }
    @media (max-width: $screen-md) {
      display: none !important;
    }
  } // topbar

  .bottombar {
    padding: 0;
    position: relative;
    transition: 0.5s all ease-in-out;

    .brand {
      margin-left: 0;
      color: white;
      svg {
        height: 3em;
        transition: 0.9s all ease-in-out;
        @media (min-width: $screen-md) {
          height: 4em;
        }
      }
      @media (min-width: $screen-lg) {
        @include flex-width(19em);
      }
    } // .brand

    @media (max-width: $screen-md) {
      .brand {
        @include flex-width(150px);
      }
      .menu-primary {
        display: none !important;
      }
      .menu-utility {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }

    .dropdown-position {
      position: relative;
    }

    .menu-right {
      justify-content: flex-end;
      position: relative;
      padding: 0 0;
      transition: 0.5s all ease-in-out;
      display: none;
      @media (min-width: $screen-md) {
        display: flex;
      }
      @media (min-width: $screen-lg) {
        width: calc(100% - 60em);
      }
      .menu-side {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .menu-search {
          display: flex;
          align-items: center;
          margin-right: 0;
          margin-bottom: 0;
          i {
            font-size: 1.25em;
            color: white;
            font-weight: 100;
            cursor: pointer;
            border-left: 1px dotted white;
            padding: 0.3em 0.5em;
            &:hover {
              color: $secondary;
            }
            &:before {
              font-size: 0.9em;
            }
          }
        }
        li {
          font-size: 1em !important;
          margin-right: 1em;
        }

        li {
          span {
            display: block;
            position: relative;
          }

          i {
            display: block;
            transition: all 300ms ease;
          }

          &.menu-open {
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            cursor: pointer;
            transition: all 300ms ease;

            span {
              padding-top: 0.075em;
              border-right: 1px dotted white;
              border-left: 1px dotted white;
              padding: 0.5em;
              margin-bottom: 0;
            }

            i {
              height: 0.083333333em;
              background: white;
              width: 1em;
              font-size: 1.3em;
              margin: 0 0 0.25em;
              &:last-child {
                margin: 0;
              }
            }

            &:hover {
              i {
                background: rgba(black, 0.5);
              }
            }
            &.open-dropdown {
              i {
                margin: 0 0 0.3em;
                &:nth-child(2) {
                  background: none !important;
                  transform: rotate(270deg);
                }

                &:nth-child(1) {
                  transform: rotate(135deg) translate3d(0.25em, -0.25em, 0);
                }

                &:nth-child(3) {
                  transform: rotate(-135deg) translate3d(0.3em, 0.25em, 0);
                }
              } // i
              span {
                padding-bottom: 0;
              }
            }
          } // .menu-open
        } // li
      }
    }

    .dropdown {
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      @include flex-width(100%);
      height: 250px;
      overflow: hidden;

      p {
        font-size: 12px;
      }

      .dropdown-exit {
        cursor: pointer;
        margin-top: 1.5em;
        font-weight: 100;
      }
      .section-split {
        margin-top: 1.5em;
        border-top: 1px solid rgba($secondary, 0.35);
        padding-top: 1.5em;
        @include flex-width(100%);
        .split-30 {
          border-right: 1px solid rgba($secondary, 0.35);
          .dropdown-link {
            margin-bottom: 0.5em;
            a {
              font-size: 14px;
              font-weight: 100;
              text-transform: uppercase;
            }
          }
          .dropdown-link-header a {
            font-size: 14px;
            font-weight: 500;
          }
          a {
            display: block;
            text-align: right;
            @include flex-width(100%);
            &:first-child {
              font-weight: 500;
            }
          }
        }
        .split-20 {
          text-align: right;
          .button {
            margin: 0;
          }
        }
        .split-50 {
          h1,
          h2,
          h3,
          h4,
          h5 {
            font-size: 20px;
            margin-top: 0;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
    .flexbox {
      display: flex;
      flex-wrap: wrap;
      height: 20em;
      .flexone {
        color: white;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 30%;
        position: relative;
        h3 {
          color: white;
          font-size: 1.75em;
          text-align: left;
          font-weight: bold;
          margin: 0;
        }
      }
      .flextwo {
        //margin-left: 1.5%;
        border-left: 1px solid white;
        width: 70%;
        font-size: 13px;
        text-align: left;
        position: relative;
        ul {
          position: absolute;
          top: 50%;
          left: 30px;
          width: 100%;
          transform: translate(0%, -50%);
          padding-top: 0;
        }
        li {
          margin-left: 0;
          line-height: 2em;
        }
        ul > li > a {
          text-transform: uppercase;
          font-size: 1.15em;
          font-weight: 500;
          color: white;
          text-decoration: none;
          outline: none;
          padding: 0 0 0 0;
          transition: all 300ms ease;

          &:hover,
          &:focus {
            color: $secondary;
            text-decoration: none;
          }
        }
        ul div ul {
          text-transform: uppercase;
          width: 100%;
          padding: 10px 0 0;
        }
      }
    }
    ul > li > a {
      display: block;
      padding: 40px 0;
      color: #000;
      text-transform: uppercase;
      position: relative;
      transition: 0.9s all ease-in-out;
      z-index: 2;
      &:hover,
      &:focus {
        color: $secondary;
        text-decoration: none;
      }
    }

    ul div ul {
      text-transform: uppercase;
      padding: 10px 0 0;
    }

    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover,
    ul li ul:focus {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    ul li ul li {
      clear: both;
      width: 100%;
    }
    li .container-dropdown {
      display: block;
      position: absolute;
      margin-right: -7px;
      left: 0em;
      opacity: 0;
      // transform: translate(-50%, 0%);
      top: -60vh;
      z-index: -1;
      width: 100%;
      padding: 2em 2em;
      transition: all 1.2s ease-in-out;
      .title {
        color: black;
        font-size: 1.2em;
        padding-bottom: 1em;
      }
      .subtitle {
        color: black;
        text-transform: initial;
        font-size: 0.9em;
        font-weight: lighter;
      }
      .nolistevent {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 50%;
        }
      }
      .sub-pages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: -1em;
        padding: 0 1em 0 0;
        .dropdown-link {
          text-transform: uppercase;
          font-family: $font;
          font-size: 0.8em;
          width: 50%;
          padding-left: 1em;
          // margin-right: 0.2%;
          line-height: 3.5em;
          a {
            width: 100%;
            color: black;
            font-size: 1em;
            &:hover {
              color: black;
            }
          }
          &:hover {
            border: 0.2px solid rgb(224, 208, 208);
            // padding: 0 0.2em;
            opacity: 0.8;
            transition: opacity 0.5s ease-in-out;
            cursor: pointer;
          }
        }
      }
    }
    li .container-dropdown a.overview {
      width: 44px;
      padding-top: 91px;
      position: absolute;
      top: 50%;
      margin-top: -46px;
      left: 0;
      z-index: 10;
    }
    li .container-dropdown a.overview:hover {
      background-position: 0 0;
    }
    .ie8 li div {
      margin-top: 1px;
    }
    li:first-child .container-dropdown,
    li:first-child + li .container-dropdown {
      right: auto;
    }
    li .container-dropdown:after {
      position: absolute;
      bottom: -29px;
      height: 22px;
      left: 0;
      right: 0;
      transition: all 1.2s ease-in-out;
      content: "";
    }
    li:hover .container-dropdown {
      opacity: 1;
      transition: all 1.2s ease-in-out;
      // transform: translate(-50%, 0%);
      top: 100%;
    }
    li .container-dropdown .quote {
      display: block;
      position: absolute;
      color: #fff;
      font-family: $font;
      top: 0.4em;
      font-size: 1.5em;
      text-align: center;
      left: 0;
      right: 0;
    }
  } //bottombar

  .holder-dropdown {
    position: absolute;
    top: 0;
    z-index: 3;
    width: fit-content;
    right: 0%;
    transform: translate(0%, 0);
    // width: max-content;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    // @media (min-width: $screen-lg) {
    //   right: 10%;
    // }
    &.show {
      transition: all 0.3s ease-in-out;
      visibility: unset;
      z-index: 3;
    }
    ul.menu-tertiary {
      text-align: left;
      a {
        font-size: 1.1em;
        font-weight: 600;
        letter-spacing: 0;
      }
      .sub-menu {
        text-align: left;
        margin: 0;
        padding: 0;
        background: none;
        li {
          margin: 0.5em 0;
          a {
            font-size: 0.8em;
            font-weight: 300;
            text-transform: capitalize;
            opacity: 0.8;
          }
        }
      }
    }
  }
  .dropdown-menu {
    width: 30em;
    float: right;
    transition: all 1.5s ease-in-out;
    transform: translateX(104vw);
    opacity: 0;
    padding: 6em 4em;
    overflow: scroll;
    max-height: 100vh;
    .button-close {
      position: absolute;
      right: 0.6em;
      top: 0.6em;
      color: white;
      font-size: 1.3em;
    }
    .menu-log {
      margin-bottom: 1.3em;
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        font-size: 1.1em;
        font-weight: 600;
        letter-spacing: 0;
        text-transform: uppercase;
        color: #fff;
        &:hover {
          color: $secondary;
        }
      }
    }
    .dropdown-brand {
      width: 10em !important;
      margin: 2em auto;
      svg {
        width: auto !important;
        path.st0 {
          fill: white !important;
        }
      }
    }
    ul {
      text-align: center;
      li {
        margin-bottom: 1.3em;
        a {
          text-transform: uppercase;
          color: white;
          font-size: 14px;
          font-family: $font;
          letter-spacing: 2px;
          &:hover {
            color: $gray-light;
          }
        }
        &.active {
          a {
            color: $secondary-dark;
          }
        }
      }
    }
    .menu-dropdown {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      display: flex;
      justify-content: space-between;
      width: 87%;
      padding: 0.5em 0.4em;
      margin: 10px auto 0 auto;
      li {
        a {
          font-size: 12px;
          font-family: $font;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: white;
        }
      }
    }
    .social-text {
      color: white;
      font-size: 0.7em;
      padding-bottom: 0.6em;
      border-bottom: 1px solid white;
      opacity: 0.7;
      margin: 0;
    }
    ul.social {
      margin: 0.5em 0 0 0;
      text-align: left !important;
      a {
        color: white;
        font-weight: 300;
        font-family: "FontAwesome";
        font-size: 1em;
        &:hover {
          color: $gray-lighter;
        }
        &:before {
          font-family: "FontAwesome";
        }
      }

      .fa-twitter-squre:before {
        content: "\f099" !important;
      }
    }
    .contact-dropdown {
      text-align: left;
      padding-bottom: 2.3em;
      margin-top: 7em;
      .col-one {
        text-align: left;
        h4 {
          color: white;
          font-size: 0.8em;
          margin-bottom: 0.2em;
          font-weight: 700;
        }
        p {
          font-size: 0.8em;
          font-weight: 300;
          text-transform: capitalize;
          opacity: 0.8;
          color: white;
          margin: 0;
        }
      }
      @media (max-width: $screen-sm) {
        display: none;
      }
    }
  }

  .slider-dropdown {
    transform: translateX(0) !important;
    transition: all 0.9s ease-in-out;
    opacity: 1 !important;
  }
  .hide-dropdown {
    transform: translateY(0%) !important;
    transition: transform 0.5s ease-in-out;
  }

  .menu-utility {
    display: none;
    position: relative;
  }
  @media (max-width: $screen-sm) {
    justify-content: space-between;
    .menu-left {
      display: none !important;
    }
    .menu-utility {
      display: block;
      padding: 1.8em 0;
    }
  }
  @media (min-width: $screen-sm) {
    .menu-utility {
      padding: 3em 0;
      display: none;
    }
  }
} //menu-fixed

.menu-utility {
  transition: 0.5s all ease-in-out;
  li {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    span {
      width: 1em;
      height: 1em;
      display: block;
      position: relative;
      margin: 0;
    }

    i {
      display: block;
      transition: all 300ms ease;
    }

    &.menu-open {
      transition: all 300ms ease;

      span {
        padding-top: 0.075em;
      }

      i {
        height: 0.083333333em;
        background: white;
        width: 1em;
        margin: 0 0 0.3em;
      }

      &:hover {
        i {
          background: $gray;
        }
      }
    } // .menu-open

    &.menu-search {
      i:first-of-type {
        @include absolute(0, auto, auto, 0);
        width: 0.875em;
        height: 0.875em;
        border: 0.083333333em solid white;
        border-radius: 50%;
      }
      i:last-of-type {
        @include absolute(auto, 0, 0, auto);
        width: 0.35em;
        height: 0.083333333em;
        background: white;
        transform: rotate(50deg) translate3d(-0.1em, -0.00125em, 0);
      }

      // &:hover {
      //   i:first-of-type {
      //     border-color: $primary;
      //   }
      //   i:last-of-type {
      //     background: $primary;
      //   }
      // }
    }
  } // li
} // .menu-utility

.menu-off-canvas-active {
  // body class to active off-canvas menu
  overflow: hidden;
  max-height: 100%;

  .wrapper,
  .menu-fixed {
    transform: translate3d(-$offCanvasWidth, 0, 0);
  }
  .menu-off-canvas {
    transform: translate3d(0, 0, 0);
    z-index: 10001;
  }

  .menu-utility {
    li {
      &.menu-open {
        i {
          &:nth-child(2) {
            background: none;
            transform: rotate(270deg);
          }

          &:nth-child(1) {
            transform: rotate(135deg) translate3d(0.25em, -0.25em, 0);
          }

          &:nth-child(3) {
            transform: rotate(-135deg) translate3d(0.3em, 0.25em, 0);
          }
        } // i
      } // &.menu-open
    } // li
  } //.menu-utility

  @media (min-width: $screen-md) {
    // disabled off canvas menu at the above breakpoint
    // change min-width if you need to disable before or
    // after this default breakpoint.
    overflow: visible;
    max-height: none;

    .wrapper,
    .menu-fixed {
      transform: translate3d(0, 0, 0);
    }
    .menu-off-canvas {
      transform: translate3d($offCanvasWidth, 0, 0);
      z-index: 10001;
    }
  }
} // .menu-off-canvas-active

.body-scrolled {
  .menu-fixed .bottombar svg {
    height: 3em;
    transition: 0.9s all ease-in-out;
  }
  .menu-fixed .bottombar ul > li > a {
    padding: 29px 0;
    transition: 0.9s all ease-in-out;
    &:before {
      bottom: 29px !important;
      transition: 0.9s all ease-in-out;
    }
  }
  .menu-fixed .topbar {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
    * {
      max-height: 0;
      font-size: 0px;
    }
  }
}

.header-simple {
  height: 30em;
  h1 {
    margin-top: 2em;
    color: white;
    font-size: 3em;
  }
}

/* stylelint-enable */
