/* stylelint-disable */
/***** Breadcrumbs *****/
section.breadcrumbs {
  width: 100%;
  padding: 0px;
  position: relative;
  margin: 0;
  float: left;
  img {
    width: 100%;
    height: 25em;
    object-fit: cover;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: initial;
  }
  .breadcrumbs-info {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    z-index: 9;
    max-width: 50em;
    width: 90%;
    h6,
    h2 {
      text-transform: uppercase;
      color: $white;
      font-size: 3em;
      margin: 0;
      font-family: $font2;
      font-weight: 700;
    }
    h2 {
      line-height: 1.1em;
    }
    h6 {
      position: relative;
      display: inline;
      padding: 0 30px;
      font-size: 1.5em;
      font-weight: 300;
      margin: 1em;
      //   &:before {
      //     content: "";
      //     position: absolute;
      //     top: 50%;
      //     transform: translateY(-50%);
      //     left: 0;
      //     width: 4px;
      //     height: 80%;
      //     background: $white;
      //   }
      //   &:after {
      //     content: "";
      //     position: absolute;
      //     top: 50%;
      //     transform: translateY(-50%);
      //     right: 0;
      //     width: 4px;
      //     height: 80%;
      //     background: $white;
      //   }
    }
  }
}

/***** Hero Section *****/
section.banner {
  width: 100%;
  float: left;
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .hero-info {
    position: relative;
    z-index: 3;
    .hero-info-block {
      h1 {
        color: $white;
        line-height: 1.4em;
        font-size: 3em;
        margin-bottom: 0;
        font-weight: 600;
      }
      .text-wrapper {
        overflow: hidden;
        .line {
          span {
            color: white;
          }
        }
        span {
          letter-spacing: 1.35px;
          font-family: $font2;
        }
        .btn-custom {
          margin-top: 2em;
          a {
            margin-bottom: 0;
          }
        }
      }
    }
    .line {
      opacity: 0;
      animation: word-line-slide-out 0.25s forwards;
      animation-timing-function: ease-out;
    }
    .line:nth-child(1n) {
      animation-delay: 0.5s;
    }
    .line:nth-child(2n) {
      animation-delay: 0.75s;
    }
    .line span {
      display: inline-block;
      margin: 0;
    }
    @keyframes ui-slide-in-move {
      0% {
        transform: scaleX(0);
      }
      100% {
        transform: scaleX(100%);
      }
    }
    @keyframes left-border-expand {
      100% {
        transform: translateY(-50%) scaleY(1);
      }
    }
    @keyframes word-line-slide-out {
      0% {
        transform: translateX(-10vw);
        opacity: 0;
      }
      100% {
        transform: translateX(0vw);
        opacity: 1;
      }
    }
  }
  .down-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 8% 0 2% 0;
    &.bounce {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
    a {
      display: inline-block;
      text-align: center;
      transition: 0.3s linear;
      color: white;
      text-decoration: none;

      &:hover {
        transition: 0.3s linear;
      }
    }
  }
  &:before {
    background-color: rgba(black, 0.5);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

/** Image with content Start **/
section.img-with-content {
  width: 100%;
  float: left;
  padding: 50px 0;
  .left-img {
    width: 95%;
    height: 100%;
    img {
      width: 100%;
      height: 550px;
      object-fit: cover;
    }
    h4 {
      text-transform: uppercase;
      color: #000;
      margin: 0px;
    }
    h6 {
      font-size: 22px;
      text-transform: inherit;
      margin: 0 0 10px 0;
      font-weight: bold;
      font-family: "Roboto" !important;
      line-height: 28px;
    }
    p {
      color: #7e7e7e;
      font-size: 21px;
      margin: 15px 0;
    }
    .content-img {
      img {
        height: 550px;
      }
    }
  }

  .sicon {
    ul {
      li {
        float: left;
        margin: 0 25px 0 0;
        a {
          color: #cccccc;
        }
      }
    }
  }
  .sicon {
    width: 100%;
    float: left;
    margin: 0 0 30px 0;
  }

  .scrollbar {
    margin-left: 0;
    float: left;
    height: 300px;
    width: 100%;
    padding: 0 50px 0 0;
    overflow-y: auto;
    margin-bottom: 25px;
  }
  .fancy-scroll::-webkit-scrollbar-track {
    background-color: #cccccc;
    border-radius: 100px;
  }

  .fancy-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #cccccc;
    border-radius: 100px;
  }

  .fancy-scroll::-webkit-scrollbar-thumb {
    border-radius: 100px;
  }
  .left-img {
    .brands-single-img,
    .content-img {
      width: 60%;
      float: left;
      img {
        width: 95% !important;
      }
    }
  }
}
/** Image with content End **/

/** Quote with image Start **/
section.quote-wit-img {
  width: 100%;
  float: left;
  padding: 50px 0;
  .left-info {
    width: 90%;
    h3 {
      text-transform: uppercase;
      color: $black;
      position: relative;
      padding: 0 0 0 30px;
      &:before {
        content: "";
        position: absolute;
        top: -60px;
        left: 0;
        background: url("../images/quote.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 131px;
        height: 129px;
        z-index: -1;
      }
    }
  }
  .right-img {
    img {
      width: 100%;
    }
  }
}
/** Quote with image End **/

/** Image Grid Start **/
section.img-grid {
  width: 100%;
  float: left;
  padding: 50px 0;
  .img1 {
    width: 47.5%;
    float: left;
    height: 100%;
    margin: 0 4% 0 0;
    img {
      width: 100%;
      height: 96%;
      object-fit: cover;
    }
    &:last-child {
      margin: 0px;
    }
  }
  .img2 {
    height: 45%;
    margin: 0 0 8% 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
/** Image Grid End **/

/** Bg content block Start **/
section.bg-content-block {
  width: 100%;
  float: left;
  padding: 50px 0;
  .right-img {
    img {
      width: 100%;
    }
  }
  .sicon {
    margin: 0 0 20px 0;
    display: inline-block;
    ul {
      li {
        float: left;
        margin: 0 25px 0 0;
      }
    }
  }
  .scrollbar {
    margin-left: 0;
    float: left;
    height: 300px;
    width: 100%;
    padding: 0 50px 0 0;
    overflow-y: auto;
    margin-bottom: 25px;
  }
  .fancy-scroll::-webkit-scrollbar-track {
    background-color: #cccccc;
    border-radius: 100px;
  }

  .fancy-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #cccccc;
    border-radius: 100px;
  }

  .fancy-scroll::-webkit-scrollbar-thumb {
    border-radius: 100px;
  }
  .right-img {
    width: 100%;
    position: relative;
    .content-img {
      float: right;
      width: 60%;
      padding: 0 0 50px 50px;
    }
    img {
      width: 100%;
      width: auto;
      float: right;
      margin: 0 0 20px 0;
    }
    h4 {
      text-transform: uppercase;
      color: #000;
      margin: 0px;
    }
    h6 {
      font-size: 22px;
      text-transform: inherit;
      margin: 0 0 10px 0;
      font-weight: bold;
      font-family: "Roboto" !important;
      line-height: 28px;
    }
    p {
      color: #7e7e7e;
      font-size: 21px;
      margin: 15px 0;
    }
    .brands-single-img {
      position: relative;
      float: left;
    }
    .brandsingle-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        max-width: 400px;
        height: auto;
        margin: 0px;
      }
    }
    .sicon {
      width: auto;
      margin: 20px 0 0 0;
    }
  }
}

section.awards-wrapper {
  width: 100%;
  float: left;
  margin: 30px 0;
  .awards-container {
    grid-template-columns: [col] 1fr [col] 1fr;
    display: grid;
    grid-template-rows: auto auto auto;
    column-gap: 80px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }
  .awards-block {
    width: 100%;
    position: relative;
    /* display: inline-block; */
    float: left;
    margin: 0;
    .awards-block-img {
      position: relative;
      img {
        width: 100%;
        height: 450px;
        object-fit: cover;
      }
      a {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
        }
      }
      .awards-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
          max-height: 350px;
          min-height: inherit;
          object-fit: contain;
        }
      }
    }
    .awards-block-info {
      padding: 15px 0;
      h4 {
        a {
          color: $black;
        }
      }
      .content {
        p {
          margin-top: 10px !important;
        }
      }
    }
  }
}

/** Culture Start **/
section.culture-bx-slider {
  width: 100%;
  float: left;
  padding: 30px 0 20px 0;

  .slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
    position: relative;
    bottom: 0;
    li {
      width: 15px;
      height: 15px;
      border-radius: 100px;
      margin: 0 5px;
      outline: none;
      button:before {
        display: none;
      }
    }
  }
  .owl-carousel {
    padding: 0 40px;
    .item {
      position: relative;
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $white;
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s;
        transform: scale3d(0.8, 0.8, 1) translate(-50%, -50%);
        width: 100%;
        text-align: center;
        font-size: 38px;
      }
      &:hover {
        h3 {
          opacity: 1;
          transform: scale3d(1, 1, 1) translate(-50%, -50%);
        }
      }
    }
  }
  .slick-arrow {
    background-color: transparent;
    top: 50%;
    transform: scale(3);
  }
  #arrowSlider {
    // border-top: 2px solid $primary;
    .slick-slide {
      margin: 1em;
    }
    .item {
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
    .slick-dots {
      text-align: center;
      margin: 20px 0 0 0;
      position: relative;
      bottom: 0;
      li {
        width: 15px;
        height: 15px;
        border-radius: 100px;
        margin: 0 5px;
        outline: none;
        button:before {
          display: none;
        }
      }
    }
  }
}
/** Culture End **/

section.sitemap_block {
  float: left;
  width: 100%;
  margin-bottom: 2em;
  .c-wrap.sitemap {
    h2 {
      font-size: 20px;
      position: relative;
      padding: 0 0 0 20px;
      border-bottom: 1px solid;
      line-height: 45px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 12px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid;
        margin-right: 0;
      }
      @media (max-width: 767px) {
        padding: 0 0 10px 20px;
        line-height: 1em;
        &:before {
          top: 0px;
        }
      }
    }
    ul {
      column-count: 3;
      margin: 0 0 40px 0 !important;
      @media (max-width: 767px) {
        column-count: 2;
      }
      @media (max-width: 639px) {
        column-count: 1;
      }
      li {
        margin: 10px 0 0 0;
        position: relative;
        padding: 0 0 0 15px;
        width: calc(100% - 10px);
        float: left;
        list-style: none;
        a {
          color: #000;
          &:hover {
            color: #ff9e1b;
          }
        }
        &:before {
          content: "";
          position: absolute;
          top: 2px !important;
          left: 0;
          width: 0;
          height: 0;
          border-top: 8px solid white;
          border-bottom: 8px solid white;
          border-left: 8px solid;
          margin-right: 0.6em;
          color: #ff9e1b;
        }
        ul {
          column-count: 1;
          margin: 0px !important;
        }
      }
    }
  }
}

section.awards-carousel {
  width: 100%;
  float: left;
  padding: 0 0 20px 0;
  #awards-slider {
    // border-top: 2px solid $primary;
    padding: 70px 0 0 0;
    .slick-slide {
      margin: 1em;
    }
    .item {
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
    .slick-dots {
      text-align: center;
      margin: 20px 0 0 0;
      position: relative;
      bottom: 0;
      li {
        width: 15px;
        height: 15px;
        border-radius: 100px;
        margin: 0 5px;
        outline: none;
        button:before {
          display: none;
        }
      }
    }
  }
  @media (min-width: $screen-sm) {
    padding: 50px 0;
  }
}

/** Our Team Start **/
section.our-team {
  width: 100%;
  float: left;
  height: auto;
  padding: 250px 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  .btn-custom {
    margin: 15px 0 0 0;
    display: inline-block;
  }
  .content {
    p {
      color: $white;
      margin-top: 0px !important;
    }
    .instalink {
      margin: 30px 0 0 0;
    }
  }
}

/** Connect Start **/
section.connect {
  width: 100%;
  float: left;
  padding: 0px;
  position: relative;
  .split-col.split-iamge {
    min-height: 50em;
  }
  p {
    margin: 0 !important;
  }
  iframe {
    width: 100%;
    height: 600px;
  }
  .connect-info {
    display: flex;
    position: relative;
    z-index: 3;
    max-width: 50em;
    width: fit-content;
    .container {
      width: 100%;
      @media (min-width: $screen-sm) {
        width: 90%;
      }
    }
    .connect-info-left {
      width: 40%;
      float: left;
      background: rgba(33, 33, 34, 0.9);
      padding: 20px;
      .connect-info-left-row {
        margin: 0 0 30px 0;
        span {
          color: $white;
          font-family: $font2;
          font-size: 29px;
        }
        p {
          font-size: 14px;
          font-weight: 300;
          color: $white;
          line-height: 28px;
          margin: 2px 0 0 0 !important;
          a {
            color: $white;
            padding: 0 0 0 5px;
          }
        }
      }
    }
    .connect-info-right {
      width: 60%;
      float: left;
      background: $white;
      p {
        font-size: 19px;
        color: #9b9b9b;
      }
      .title-black {
        h3 {
          margin-top: 1em;
          font-size: 2em;
          font-weight: 600;
        }
      }
    }
    @media (min-width: $screen-lg) {
      margin: 4em 0 4em auto;
    }
  }
  .gform_wrapper {
    .ginput_container,
    span {
      margin-bottom: 0 !important;
    }
    li {
      margin: 0 !important;
    }
    textarea,
    select,
    input {
      padding: 14px 10px !important;
      margin: 0 !important;
    }
    .gform_footer {
      input {
        border-width: 2px !important;
        border-style: solid !important;
        width: 12em !important;
        &:hover {
          background-color: white !important;
        }
      }
    }
  }
  .wpgmza_map {
    @media (min-width: $screen-lg) {
      position: absolute;
      height: 100% !important;
    }
  }
}

section.featured-post-grid {
  width: 100%;
  float: left;
  padding: 6em 0 2em 0;
  .column {
    transform: scale(1);
    transition: 0.7s all ease-in-out;
    &:hover {
      transform: scale(1.05);
      transition: 0.7s all ease-in-out;
    }
  }
  .post-grid-bx-img {
    height: 27em;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .post-info {
    .title-block {
      h4 {
        font-size: 1.5em;
        margin: 0.5em 0 0 0;
        font-weight: 600;
        text-transform: uppercase;
        font-family: $font2;
        @media (min-width: $screen-sm) {
          font-size: 2.5em;
        }
      }
      h6 {
        margin: 0.3em 0;
        font-size: 1em;
        text-transform: uppercase;
        font-family: $font2;
        @media (min-width: $screen-sm) {
          font-size: 1.1em;
        }
      }
    }
    .content-block {
      margin-bottom: 2em;
      p {
        font-weight: 300;
        @media (min-width: $screen-sm) {
          font-size: 1.1em;
        }
      }
    }
  }
}

section.header_slider {
  &.given-height {
    height: auto !important;
    .item {
      @media (max-width: $screen-sm) {
        height: auto !important;
        padding: 5em 0;
      }
    }
  }
  #js-slider-header {
    width: 100%;
    margin-bottom: 0;
    .item {
      height: 100vh;
      min-height: 400px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .overlay-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .item-info {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        max-width: 60em;
        h4 {
          font-weight: 400;
          font-size: 19px;
          margin: 0;
          color: white;
        }
        h2 {
          font-size: 42px;
          line-height: 45px;
          margin: 0;
          color: white;
        }
        .btn-custom {
          margin: 30px 0 0;
        }
      }
    }
    .slick-arrow {
      background-color: transparent;
      top: 50%;
      z-index: 2;
      font-size: 3.4em;
      width: auto;
      height: auto;
      margin: 0;
      color: white;
      &.slick-next {
        right: 5%;
        left: auto;
        &:before {
          display: none;
        }
      }
      &.slick-prev {
        left: 5%;
        right: auto;
        &:before {
          display: none;
        }
      }
    }
    .slick-dots {
      position: absolute;
      bottom: 2em;
      li {
        button {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

.blog,
.archive,
.search-results {
  main {
    article {
      margin: 0.5em 0;
      @include flex-width(100%);
      .bg-img {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        overflow: hidden;
        overflow: hidden;
        height: 20em;
        position: relative;
        &:before {
          background-color: rgba(0, 0, 0, 0.7);
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s all ease-in-out;
        }
        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
        i {
          font-size: 4em;
          color: black;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 80%;
          margin-bottom: 0;
          opacity: 0;
          visibility: hidden;
          transform: translate(-50%, -50%);
          color: white;
          transition: 0.3s all ease-in-out;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4; /* number of lines to show */
          -webkit-box-orient: vertical;
          display: none;
          @media (min-width: $screen-sm) {
            display: block;
          }
        }
        &:hover {
          &:before {
            opacity: 1;
            visibility: visible;
            transition: 0.3s all ease-in-out;
          }
          p {
            opacity: 1;
            visibility: visible;
            transition: 0.3s all ease-in-out;
          }
        }
      }
      .entry-summary {
        border-width: 2px;
        border-style: solid;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
        .entry-title {
          margin: 0 auto;
          color: white;
          font-family: $font2;
          font-size: 1.7em;
          padding: 0.2em;
          a {
            width: 100%;
            display: block;
            @media (min-width: $screen-lg) {
              line-height: 2em;
            }
          }
        }
        p {
          color: white;
          text-align: center;
          transition: 0.3s all ease-in-out;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
          -webkit-box-orient: vertical;
          width: 90%;
          margin: 0 auto 2em;
          text-align: center;
          @media (min-width: $screen-sm) {
            display: none;
          }
        }
        &:hover {
          background-color: $white;
        }
      }
      @media (min-width: $screen-sm) {
        margin: 0.5em;
        @include flex-width(calc(50% - 1em));
      }
      @media (min-width: $screen-lg) {
        @include flex-width(calc(33.33% - 1em));
      }
    }
  }
}

.global-modal {
  position: fixed; /* Stay in place */
  z-index: 3000; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  visibility: hidden;
  opacity: 0;
  transition: 0.4s all ease-in-out;

  .overlay-image {
    height: 120%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* Modal Content/Box */
  .modal-content {
    max-width: 45em; /* Could be more or less, depending on screen size */
    width: 90%;
    height: 90%;
    margin: 10% auto;
    overflow: scroll;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    @media (min-width: $screen-sm) {
      max-width: 77.5em;
      padding: 3em;
      margin: 3em auto;
      height: auto;
    }
    .content-div {
      width: 100%;
      position: relative;
      z-index: 4;
      padding-top: 1em;
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
    transition: 0.4s all ease-in-out;
  }

  .global-close {
    padding: 0.6em 2em;
    color: white;
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    font-family: $font;

    position: absolute;
    right: 1em;
    top: 1em;
    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }

  @media (min-width: $screen-sm) {
    display: flex; /* Hidden by default */
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }
}

.global-modal {
  .overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(#1a1a1a, 1); /* Fallback color */
    background-color: rgba(#1a1a1a, 0.8); /* Black w/ opacity */
  }
  .modal-content {
    flex-wrap: wrap;
    position: relative;
    .content-div {
      &.style-reset {
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        li,
        span {
          color: inherit;
        }
      }
    }
    form {
      li {
        margin: 0 !important;
        input {
          height: auto !important;
        }
        textarea,
        input {
          margin: 0 !important;
          padding: 10px 14px !important;
        }
        span {
          @media (min-width: $screen-sm) {
            margin-bottom: 0 !important;
          }
        }
      }
      .gform_footer {
        margin-top: 0 !important;
        input {
          font-size: 0.8em !important;
        }
      }
    }
  }
  a.button {
    background: transparent;
    border: 2px solid $gray-dark;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    i {
      font-size: 1.4em;
      color: $gray-dark;
      margin-left: 3px;
      margin-top: 1.1px;
    }
    &:hover {
      background-color: $gray-darker;
      border-color: $gray-darker;
      i {
        color: white;
      }
    }
  }
}

html.splash-page {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  body {
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .logo-wrap {
    text-align: center;
    margin: auto;
  }

  .jac-brand {
    display: block;
    margin: auto;
    font-size: 4em;
    max-width: 80%;
    max-height: 80%;
    width: 80%;
    svg {
      display: block;
      width: 3.5306em;
      height: 2.3917em;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .jac-brand path,
  .jac-brand polygon {
    fill: #fff;
  }
  .jac-brand path.we-create-arrow {
    fill: #ab2c29;
  }

  .button {
    font-size: 0.8em;
    padding: 1em 2.5em;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    border-radius: 0.125em;
    text-decoration: none;
    border: 1px solid white;
    transition: all 300ms ease;
    margin: 0.5em 0 0;

    &:hover,
    &:focus {
      background: #ab2c29;
      color: white;
      border-color: #ab2c29;
    }
  }

  .banner_splash {
    width: 100%;
    #js-splash-header {
      width: 100%;
      position: relative;
      overflow: hidden;
      .slick-list {
        padding: 0 !important;
        .slick-track {
          max-width: 100%;
        }
      }
      .col {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 40em;
        max-width: 100%;
        position: relative;
        .overlay-box {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
        .slide-box {
          max-width: 40em;
          width: 90%;
          margin: 0 auto;
          position: relative;
          z-index: 3;
          img.logo {
            height: 4em;
            margin: 3em auto;
          }
          h1 {
            font-size: 3em;
            line-height: 1em;
            margin: 0 auto 10px auto;
            font-family: $font2;
            font-weight: 500;
            text-transform: uppercase;
            @media (min-width: 48em) {
              font-size: 5em;
            }
            span {
              color: #d6312e;
            }
          }
          p {
            font-size: 1em;
            font-family: $font2;
            font-weight: 400;
          }
        }
      }
      .slick-dots {
        position: fixed;
        top: 50%;
        right: 3%;
        transform: translate(0, -50%);
        flex-direction: column;
        width: auto;
        max-width: none;
        height: fit-content;
        height: max-content;
        li {
          width: 18px;
          height: 18px;
          border: 2px solid #fff;
          display: block;
          cursor: pointer;
          margin: 16px 0;
          border-radius: 100%;
          position: relative;
          &.slick-active:before {
            content: "";
            background: #fff;
            width: 50%;
            height: 50%;
            position: absolute;
            left: 50%;
            margin: 0;
            padding: 0;
            top: 50%;
            border-radius: 100%;
            transform: translate(-50%, -50%);
          }
          button {
            display: none;
          }
        }
      }
      .slick-arrow {
        position: absolute;
        cursor: pointer;
        z-index: 3;
        height: 70px;
        width: 70px;
        background-color: transparent;
        border: 3px solid white;
        display: flex !important;
        justify-content: center;
        align-items: center;
        transition: 0.3s all ease-in-out;
        opacity: 1;
        visibility: visible;
        transition: 1.4s all ease-in-out;
        i {
          transition: 0.3s all ease-in-out;
          color: white;
          font-size: 1.2em;
          font-weight: 500;
        }
        &.slick-prev {
          top: 1%;
          left: 50%;
          transform: translate(-50%, 0);
        }
        &.slick-next {
          bottom: 1%;
          left: 50%;
          transform: translate(-50%, 0);
        }
        &.slick-disabled {
          opacity: 0;
          visibility: hidden;
          transition: 0.4s all ease-in-out;
        }
        &:hover {
          background-color: white;
          transition: 0.3s all ease-in-out;
          i {
            color: #ab2c29;
            transition: 0.3s all ease-in-out;
          }
        }
      }
    }
  }
}

/* stylelint-enable */
