/* stylelint-disable */
$common: "(max-width: 767.5px)";
$phone: "(min-width: 576px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991.9px)";
$desktop: "(min-width: 992px) and (max-width: 1199.9px)";
$desktopmini: "(min-width: 1024px) and (max-width: 1199px)";
$desktop2: "(min-width: 1200px) and (max-width: 1365px)";
$largedesktop: "(min-width: 1366px) and (max-width: 1439.9px)";
$largedesktop2: "(min-width: 1440px) and (max-width: 1549.9px)";
$largedesktop3: "(min-width: 1500px) and (max-width: 1599.9px)";
$largedesktop4: "(min-width: 1600px) and (max-width: 1699.9px)";
$largedesktop5: "(min-width: 1700px) and (max-width: 1799.9px)";
$largedesktop6: "(min-width: 1800px) and (max-width: 1899.9px)";

@media #{$common} {
  .blog,
  .archive,
  .search-results {
    article {
      .entry-summary .entry-title a {
        padding: 1em 0 0.3em 0;
      }
      .bg-img {
        height: 15em;
      }
    }
  }
  .header-simple {
    height: 20em;
    h1 {
      margin-top: 2em;
      margin-bottom: 0;
      color: white;
      font-size: 2em;
    }
  }
  section.culture-bx-slider .owl-carousel {
    padding: 0;
  }
  /** Culture Start **/
  section.culture-bx-slider {
    .owl-carousel {
      .owl-item {
        img {
          height: 300px;
        }
      }
    }
  }
  .title-bar-title {
    img {
      filter: invert(1);
    }
  }
  header.header {
    .header-top {
      p {
        font-size: 18px;
        margin: 0 30px 0 30px;
        &:before {
          left: 0;
        }
      }
    }
    .header-navbar {
      button.menu-icon {
        outline: none;
      }
      .top-bar {
        background: $black;
        text-align: center;
        .logo {
          display: none;
        }
        ul {
          float: none !important;
          width: auto;
          display: inline-grid;
          margin: 0px !important;
          li {
            width: auto;
            text-align: center;
            margin: 10px 0;
            display: inline-block;
            a {
              color: $white !important;
              display: inline-block;
            }
          }
        }
        ul.center {
          li {
            width: 100%;
          }
        }
        .top-bar-right {
          ul.nav-icon-full {
            display: none;
            margin: 0 !important;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
    .title-bar {
      background: none !important;
    }
  }
  header.header.stickyheader.header-sticky {
    .title-bar-right {
      button {
        &:after {
          background: $black;
          box-shadow: 0 7px 0 #000, 0 14px 0 #000;
        }
      }
    }
    .title-bar-title img {
      filter: inherit;
    }
  }
  section.banner {
    background-position: 70%;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
    .hero-info {
      .hero-info-block {
        h1 {
          font-size: 2em;
          line-height: 1.3em;
          color: $white;
        }
        .line {
          span {
            color: $white !important;
            margin: 0;
            line-height: 40px;
            font-size: 15px !important;
          }
        }
      }
    }
  }

  footer.footer {
    padding: 50px 0 0 0;
    .footer-top {
      h2 {
        &:after,
        &:before {
          display: none;
        }
      }
      form {
        margin: 20px 0 0 0;
        .form-group {
          width: 90%;
          .submit-btn {
            position: relative;
            input {
              background: $white;
              color: $primary;
              &:hover {
                background: $primary;
                color: $white;
              }
            }
            &:before {
              display: none;
            }
          }
        }
      }
      .sicon {
        margin-top: 1em;
      }
    }
    .copyright {
      p {
        text-align: center;
      }
      .copyright-info {
        .small-4 {
          flex: 0 0 100%;
          max-width: 100%;
        }
        .footer-nvabar {
          ul {
            margin: 10px 0;
            li {
              margin: 0 10px;
            }
          }
        }
        .footer-right {
          float: none;
          p {
            &:before {
              top: 2px;
              right: 90px;
            }
          }
        }
      }
      .jac-tech {
        text-align: center;
      }
    }
  }

  /** Breadcrumbs **/
  section.breadcrumbs {
    margin: 0px;
    img {
      height: 300px;
      object-fit: cover;
    }
    .breadcrumbs-info {
      width: 100%;
      h2 {
        font-size: 2em;
        width: 90%;
        margin: 0 auto;
      }
    }
  }

  section.connect {
    margin: 0px;
    .split-col.split-iamge {
      min-height: 30em;
    }
    .connect-info {
      display: inline-block;
      position: inherit;
      top: inherit;
      transform: inherit;
      width: 100%;
      left: inherit;
      right: inherit;
      .connect-info-left {
        width: 100%;
        padding: 25px;
      }
      .connect-info-right {
        width: 100%;
      }
    }

    .container {
      width: 100%;
    }
    .connect-info {
      .title-black h3 {
        margin: 0;
        margin: 0.4em 0;
        font-size: 2em;
      }
      .gform_wrapper {
        textarea,
        select,
        input {
          margin: 0 0 1em 0 !important;
        }
      }
    }
  }

  section.featured-post-grid {
    .column {
      flex: inherit;
      padding: 0px;
      .brands-grid-bx {
        padding: 0px;
      }
    }
    .post-grid-bx-img {
      height: 20em;
    }
  }

  section.content-block {
    .column {
      flex: inherit;
      padding: 0px;
    }
    .left-img {
      img {
        height: 300px;
      }
    }
    .right-info {
      clip-path: inherit;
      padding: 25px;
      margin: 10px 0 0 0;
      .content {
        margin: 0px;
      }
    }
  }

  body {
    .gform_wrapper {
      .top_label {
        li.gf_left_half.cl-btn,
        li.gf_right_half.cl-btn {
          width: 100% !important;
          padding-right: 0 !important;
        }
      }
    }
  }
  .ginput_container.ginput_container_fileupload {
    input.medium {
      width: 100%;
      display: block;
    }
  }

  section.sitemap {
    padding: 30px 0;
    .sitemap-descendants {
      h4 {
        font-size: 30px;
      }
      ul {
        column-count: 1;
      }
    }
  }
}

@media #{$phone} {
  .blog,
  .archive,
  .search-results {
    article {
      .entry-summary .entry-title a {
        padding: 1em 0 0.3em 0;
      }
      .bg-img {
        height: 15em;
      }
    }
  }
  section.featured-post-grid {
    .post-grid-bx-img {
      height: 20em;
    }
  }
  .header-simple {
    height: 20em;
    h1 {
      margin-top: 2em;
      margin-bottom: 0;
      color: white;
      font-size: 2em;
    }
  }

  section.breadcrumbs {
    .breadcrumbs-info {
      h2 {
        font-size: 2em;
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  section.connect {
    .container {
      width: 100%;
    }
    .connect-info {
      .title-black h3 {
        margin: 0;
        margin: 0.4em 0;
        font-size: 2em;
      }
      .gform_wrapper {
        textarea,
        select,
        input {
          margin: 0 0 1em 0 !important;
        }
      }
    }
  }
  section.culture-bx-slider .owl-carousel {
    padding: 0;
  }
  header.header {
    .header-navbar {
      .top-bar {
        display: inherit;
      }
    }
  }

  footer.footer {
    .copyright {
      .copyright-info {
        text-align: center;
        p {
          display: inline-block;
        }
        .footer-right {
          p {
            &:before {
              right: 53px;
            }
          }
        }
      }
    }
    .footer-top {
      padding: 0 0 2em 0;
      .sicon {
        margin-top: 1em;
      }
    }

    .jac-tech {
      text-align: center;
    }
  }
}

@media #{$tablet} {
  section.culture-bx-slider {
    .owl-carousel {
      padding: 0;
      .owl-item {
        img {
          height: 300px;
        }
      }
    }
  }
  h2 {
    font-size: 60px;
    line-height: 60px;
  }
  h4 {
    font-size: 36px;
  }
  h6 {
    font-size: 28px;
    line-height: 30px;
  }
  body.front-page-data {
    .title-bar-title {
      img {
        filter: inherit !important;
      }
    }
  }
  .title-bar-title {
    img {
      filter: invert(1);
    }
  }
  header.header {
    .header-top {
      p {
        font-size: 18px;
        margin: 0 30px 0 30px;
        &:before {
          left: 0;
        }
      }
    }
    .header-navbar {
      button.menu-icon {
        outline: none;
      }
      .top-bar {
        background: $black;
        text-align: center;
        display: inherit;
        .logo {
          display: none;
        }
        ul {
          float: none !important;
          width: auto;
          display: inline-grid;
          margin: 0 !important;
          li {
            width: auto;
            text-align: center;
            margin: 10px 0;
            display: inline-block;
            a {
              color: $white !important;
              display: inline-block;
            }
          }
        }
        ul.center {
          li {
            width: 100%;
          }
        }
        .top-bar-right {
          ul.nav-icon-full {
            display: none;
            margin: 0 !important;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
    .title-bar {
      background: none !important;
    }
  }

  section.banner {
    background-position: 70%;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
    .hero-info {
      .hero-info-block {
        h1 {
          font-size: 60px;
          line-height: 60px;
          color: $white;
        }
        .line {
          span {
            color: $white !important;
            margin: 0;
            line-height: 40px;
            font-size: 1.2em !important;
          }
        }
      }
    }
  }

  footer.footer {
    padding: 50px 0 0 0;
    .footer-top {
      h2 {
        &:after,
        &:before {
          display: none;
        }
      }
      form {
        margin: 20px 0 0 0;
        .form-group {
          width: 90%;
          .submit-btn {
            position: relative;
            input {
              background: $white;
              color: $primary;
              &:hover {
                background: $primary;
                color: $white;
              }
            }
            &:before {
              display: none;
            }
          }
        }
      }
    }
    .copyright {
      .copyright-info {
        text-align: center;
        .small-4 {
          flex: 0 0 100%;
          max-width: 100%;
        }
        .footer-nvabar {
          ul {
            margin: 10px 0;
            li {
              margin: 0 10px;
            }
          }
        }
        .footer-right {
          float: none;
          p {
            display: inline-block;
            &:before {
              top: 4px;
              right: 54px;
            }
          }
        }
      }
    }
  }

  section.breadcrumbs {
    margin: 0px;
  }

  section.connect {
    margin: 0px;
    .container {
      width: 100%;
    }
    iframe {
      width: 100%;
      height: 400px;
    }
    .connect-info {
      display: inline-block;
      position: inherit;
      top: inherit;
      transform: inherit;
      width: 100%;
      left: inherit;
      right: inherit;
      .connect-info-left {
        width: 100%;
        padding: 50px;
      }
      .connect-info-right {
        width: 100%;
      }
    }
  }

  section.content-block {
    .right-info {
      margin: 15px 0 0 0;
    }
  }

  section.sitemap {
    padding: 30px 0;
  }

  body {
    .gform_wrapper {
      .gform_footer {
        margin: 25px 0 0;
      }
    }
  }
}

@media #{$desktop} {
  h2 {
    font-size: 60px;
    line-height: 60px;
  }
  h6 {
    font-size: 28px;
    line-height: 30px;
  }
  header.header {
    .header-top {
      p {
        font-size: 18px;
        margin: 0 30px 0 30px;
        &:before {
          left: 0;
        }
      }
    }
    .header-navbar {
      button.menu-icon {
        outline: none;
      }
      .top-bar {
        background: $black;
        text-align: center;
        display: inherit;
        .logo {
          display: none;
        }
        ul {
          float: none !important;
          width: auto;
          display: inline-grid;
          margin: 0 !important;
          li {
            width: auto;
            text-align: center;
            margin: 10px 0;
            display: inline-block;
            a {
              color: $white !important;
            }
          }
        }
        ul.center {
          li {
            width: 100%;
          }
        }
        .top-bar-right {
          ul.nav-icon-full {
            display: none;
            margin: 0 !important;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
    .title-bar {
      background: none !important;
    }
  }
  body.front-page-data {
    .title-bar-right {
      button {
        &:after {
          background: $black;
          box-shadow: 0 7px 0 #000, 0 14px 0 #000;
        }
      }
    }
  }

  section.banner {
    background-position: 70%;
    position: relative;
    .hero-info {
      .hero-info-block {
        h1 {
          font-size: 60px;
          line-height: 60px;
        }
        .line {
          span {
            margin: 0;
            line-height: 40px;
            font-size: 28px !important;
          }
        }
      }
    }
  }

  footer.footer {
    padding: 50px 0 0 0;
    .footer-top {
      h2 {
        &:after,
        &:before {
          display: none;
        }
      }
      form {
        margin: 20px 0 0 0;
        .form-group {
          width: 90%;
        }
      }
    }
    .copyright {
      .copyright-info {
        text-align: center;
        .row {
          flex-flow: inherit;
        }
        .footer-nvabar {
          ul {
            margin: 10px 0;
            li {
              margin: 0 10px;
            }
          }
        }
        .footer-right {
          float: none;
          p {
            display: inline-block;
            &:before {
              top: 4px;
              right: 54px;
            }
          }
        }
      }
    }
  }

  section.connect {
    .connect-info {
      width: 70%;
    }
  }

  body {
    .gform_wrapper {
      .gform_footer {
        margin: 25px 0 0;
      }
    }
  }
}

@media #{$desktopmini} {
  .ginput_container.ginput_container_fileupload {
    input.medium:before {
      font-size: 8.5pt;
    }
  }
  body {
    .gform_wrapper {
      .gform_footer {
        margin: 25px 0 0;
        input[type="submit"] {
          font-size: 8.5pt;
        }
      }
    }
  }
}

@media #{$desktop2} {
  h2 {
    font-size: 60px;
    line-height: 60px;
  }
  h6 {
    font-size: 28px;
    line-height: 30px;
  }
  header.header {
    .header-navbar {
      ul {
        margin: 30px 0 0 0;
        li {
          margin: 0 34px;
        }
      }
      .top-bar {
        align-items: inherit;
        .top-bar-right {
          ul.nav-icon-full {
            margin: 23px 0 0 0;
          }
        }
      }
    }
  }
  section.banner {
    background-position: 70%;
    position: relative;
    .hero-info {
      .hero-info-block {
        h1 {
          font-size: 60px;
          line-height: 60px;
        }
        .line {
          span {
            margin: 0;
            line-height: 40px;
            font-size: 28px !important;
          }
        }
      }
    }
  }
  footer.footer {
    padding: 50px 0 0 0;
    .copyright {
      .copyright-info {
        text-align: center;
        flex-flow: inherit;
        .footer-nvabar {
          ul {
            margin: 10px;
            li {
              margin: 0 10px;
            }
          }
        }
        .footer-right {
          float: none;
          p {
            display: inline-block;
            &:before {
              top: 4px;
              right: 54px;
            }
          }
        }
      }
    }
  }

  /** Connect Start **/
  section.connect {
    .connect-info {
      width: 70%;
    }
  }
  /** Connect End **/

  section.bg-img-content {
    .bg-img-content-info {
      width: 80%;
    }
  }
  /** Culture End **/

  section.bg-overlay-wit-content {
    .bg-overlay-content {
      padding: 0 60px;
      width: 50%;
    }
  }

  /** Career Single Start **/
  section.img-with-content.two-grid {
    padding: 0px;
  }

  section.careers-single-icon {
    .icon-bx {
      .icon-img {
        img {
          max-width: 100px;
        }
      }
    }
  }

  section.apply-now-form {
    .apply-now-form-left {
      .apply-now-info {
        width: 40%;
      }
    }
  }
  /** Career Single End **/

  /** Brands Single Start **/
  section.brands-single {
    padding: 50px 0 0 0;
    .left-img {
      width: 100%;
      .brands-single-img,
      .content-img {
        img {
          width: 95% !important;
          margin: 0 0 30px 0;
        }
      }
      .brandsingle-logo {
        img {
          max-width: 200px;
          margin: 0px;
        }
      }
    }
  }
  /** Brands Single End **/

  section.benifits-slider {
    .benifits-slider-row {
      .owl-carousel {
        .item {
          h6 {
            font-size: 28px;
          }
        }
      }
    }
  }
}

@media #{$largedesktop} {
  header.header {
    .header-navbar {
      ul {
        margin: 30px 0 0 0;
        li {
          margin: 0 56px;
        }
      }
      .top-bar {
        align-items: inherit;
      }
    }
  }

  footer.footer {
    .copyright {
      .copyright-info {
        .footer-right {
          p {
            display: initial !important;
          }
        }
      }
    }
  }
}

@media #{$largedesktop2} {
  header.header {
    .header-navbar {
      ul {
        margin: 30px 0 0 0;
        li {
          margin: 0 62px;
        }
      }
      .top-bar {
        align-items: inherit;
      }
    }
  }
}

@media #{$largedesktop3} {
  header.header {
    .header-navbar {
      ul {
        margin: 30px 0 0 0;
        li {
          margin: 0 70px;
        }
      }
      .top-bar {
        align-items: inherit;
      }
    }
  }
}

@media #{$largedesktop4} {
  header.header {
    .header-navbar {
      ul {
        margin: 30px 0 0 0;
        li {
          margin: 0 80px;
        }
      }
      .top-bar {
        align-items: inherit;
      }
    }
  }
}

@media #{$largedesktop5} {
  header.header {
    .header-navbar {
      ul {
        margin: 30px 0 0 0;
        li {
          margin: 0 80px;
        }
      }
      .top-bar {
        align-items: inherit;
      }
    }
  }
}

@media #{$largedesktop6} {
}

/* stylelint-enable */
