/* stylelint-disable */
h1,
h2,
h3,
h4,
h5 {
  color: $primary;
  // font-weight: 400;
  font-family: $font;
  line-height: 1.1em;
  margin: 1.5em 0 0.5em 0;
  padding: 0;
}

h1 {
  font-size: 1.75em;
  margin-top: 0;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
h4,
h5 {
  font-size: 1.15em;
}
.act-like-h1 {
  @extend h1;
}
.act-like-h2 {
  @extend h2;
}

.grid-container,
.row {
  width: 90%;
  @media (min-width: $screen-lg) {
    max-width: $maxContainerWidthLarge;
  }
  &.full {
    width: 100%;
    max-width: none;
  }
}

/* stylelint-enable */
